---
import Layout from "../layouts/Layout.astro";
import logo from "../assets/logo-mds.svg";
import name_bussines from "../assets/title.svg";
import fondo from "../assets/fondo.png";
import first_image from "../assets/first_image.png";
import { mook } from "../config.ts";
---

<Layout>
  <article
    style={{
      display: "flex",
      flexDirection: "column",
      alignItems: "center",
      justifyContent: "center",
      gap: "1rem",
      marginTop: "2rem",
    }}
  >
    <img alt="" src={logo.src} />
    <img alt="" src={name_bussines.src} />
  </article>
  <article>
    <span class="text-blue-300 font-black p-4">{mook.title}</span>
    <h1>Cuando la diferencia está en los detalles... seamos la diferencia</h1>
    <p>
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <footer>
      <button>Únete a nosotros</button>
      <button>Contact Sales</button>
    </footer>
  </article>
  <article>
    <img alt="" src={fondo.src} />
    <img alt="" src={first_image.src} />
  </article>
</Layout>
